extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class="jumbotron")
    span(class="glyphicon glyphicon-edit") glyphicon-edit
    span(class="glyphicon glyphicon-envelope") glyphicon-envelope
    span(class="glyphicon glyphicon-pencil") glyphicon-pencil
